body {
    line-height: 1.2;
    width: 75ch;
    margin: auto;
    border: 1px solid black;
    padding: 2ch;
    counter-reset: h1 h2 h3 h4 h5 h6;
}

.nav-pane, .nav-footer {
    display: none;
}

ipa {
    font-weight: normal;
    font-family: 'lucida sans unicode', 'segoe ui', monospace, sans-serif;
}

h1:before {
    content: counter(h1) ".\a0";
    counter-reset: h2 0;
    counter-increment: h1;
}

h1 {
    counter-reset: h2 h3 h4 h5 h6;
}
h2:before {
    content: counter(h1) "." counter(h2) "\a0";
    counter-reset: h3;
    counter-increment: h2;
}

h3:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "\a0";
    counter-reset: h4 0 h5 0 h6 0;
    counter-increment: h3;
}
h4:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "\a0";
    counter-reset: h5 h6;
    counter-increment: h4;
}
h5:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "\a0";
    counter-reset: h6;
    counter-increment: h5;
}
h6:before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) "\a0";
    counter-increment: h6;
}

p {
    text-indent: 2ch;
}

p.example {
    margin-bottom: 0;
    margin-left: 2em;
}

.wordlist {
    font-weight: bold;
}

.wordlist .folding {
    font-weight: normal;
}

.wordlist em, .wordlist high-lulani {
    font-weight: normal;
}

p.example_no_lines {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
}

small-caps {
    font-variant: small-caps;
}

table {
    display: inline;
    margin-left: 10ch;
}

td, th {
    padding-left: 2px;
    padding-right: 2px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.folding a, table a {
    font-weight: normal;
}

@font-face {
  font-family: high-lulani;
  src: url('highlulani.ttf');
}

high-lulani {
  font-family: lulani, high-lulani;
  font-size: larger;
  direction: rtl;
  unicode-bidi: bidi-override;
}

high-lulani::after {
    content: "\202c\00e8";
    font-size: 0;
}

.tooltip-text {
    display: none;
}

.mobile-table {
    display: none;
}

@media print {
    body {
        width: 100%;
        margin: 2em;
        border: none;
    }

    .folding {
        page-break-inside: avoid;
    }
}
