@font-face {
  font-family: high-lulani;
  src: url('http://www.tinellb.com/highlulani.ttf');
}

ipa {
	font-family: 'lucida sans unicode', 'segoe ui', monospace, sans-serif;
}

small-caps { /* Remove italics from small-caps */
	font-variant: small-caps;
	font-weight: normal;
	font-style: normal;
}

overline {
	text-decoration: overline;
}

high-lulani, vulgar-lulani {
	font-family: tinellb, high-lulani;
	font-size: x-large;
}

high-lulani::before, vulgar-lulani::before {
	content: "\202e";
}

high-lulani::after, vulgar-lulani::after {
	content: "\202c";
}

body {
	font-family: sans-serif;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.content {
	text-align: justify;
  width: 20em;
  padding: 1em 10%;
  flex-grow: 1;
}

.content p {
	line-height: 1.5;
	text-indent: 1em;
}

.content .example {
	margin: 0;
	margin-top: 1em;
	padding-left: 10%;
}

.content p.example_no_lines {
	margin: 0;
	padding-left: 10%;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	font-family: serif;
  text-align: left;
}

.content h2 {
	margin-left: 10%;
}

.content h2.language {
	margin-left: 5%;
}

.content h3 {
	margin-left: 15%;
}

.content h4 {
	margin-left: 20%;
}

.content h5 {
  margin-left: 25%;
}

.content table {
	line-height: 1.5;
	margin: auto;
	white-space: nowrap;
}

.content tr {
	font-family: sans-serif;
	text-align: center;
}

.content tr:first-child {
	font-weight: bold;
}

.content td {
	padding: 0.25em 0.5em;
}

.content td:first-child {
	text-align: right;
	font-weight: bold;
}

.content ul {
	padding-left: 10%;
}

.content ul.languages {
	list-style: none;
}

.content ul.languages li a {
	color: black;
	font-size: large;
	font-weight: bold;
}

.content ol {
	padding-left: 15%;
}

.content ol li {
	padding-bottom: 0.5em;
}

.content form {
	padding-left: 10%;
	text-indent: 0;
	line-height: 1;
}

.content div.glossary {
		text-indent: 1em;
    -webkit-columns: 3; /* Chrome, Safari, Opera */
    -moz-columns: 3; /* Firefox */
    columns: 3;
		margin-left: 5%;
		padding: 0;
}

.content div.glossary a {
  color: black;
  text-decoration: underline dotted;
  font-weight: bold;
}

.content div.glossary a:hover {
  text-decoration: underline solid;
}

.content div.glossary p {
	margin-top: 0;
	margin-bottom: 0.5em;
	padding: 0;
  text-align: left;
}

.content div.example table {
  margin-left: 0;
}

.nav-pane {
	margin: 2em 1% 10%;
	padding: 1% 2em 10%;
	white-space: nowrap;
	text-align: left;
}

.nav-pane a {
	color: black;
	text-decoration: none;
}

.nav-pane ul {
	list-style: none;
	padding: 0;
}

.nav-pane ul.level-1 {
	padding-left: 1em;
}

.nav-pane ul.level-2 {
	padding-left: 1em;
}

.nav-pane ul.level-3 {
	padding-left: 1em;
}

.nav-pane ul.level-4 {
	padding-left: 1em;
}

.nav-pane li {
	padding-bottom: 0.5em;
}

.nav-pane li.normal {
	font-weight: bold;
	text-decoration: underline;
}

.nav-pane li.link {
  font-family: serif;
  text-align: center;
}

.nav-pane li.up-arrow {
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-pane li.search {
  text-align: center;
  margin: 1em 0;
  margin-left: -1em;
}

.nav-pane form#search {
  display: none;
}

.nav-footer {
	display: flex;
  justify-content: space-between;
	padding: 1em;
	margin: 0;
}

.nav-footer a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.copyright {
  font-size: smaller;
  font-family: serif;
  text-align: right;
}

.toc a {
	font-weight: bold;
	color: black;
	font-size: 125%;
	text-decoration: none;
	line-height: 1;
}

.results {
	text-indent: -2em;
	line-height: 1.5;
}

.results a {
	color: black;
}

.results ol {
	list-style-position: inside;
}

.results li {
	padding-top: 2em;
}

@media screen and (max-width: 800px) {

	.content {
    order: 1;
		margin: 0;
    padding: 5%;
  }

  .content div.glossary {
      -webkit-columns: 1; /* Chrome, Safari, Opera */
      -moz-columns: 1; /* Firefox */
      columns: 1;
  }

  .nav-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-pane {
		position: static;
		width: 100%;
		padding: 0 20%;
    order: 2;
		overflow: auto;
  }
}
