body {
    font-family: sans-serif;
}

.season {
    font-size: x-large;
}

.nav-pane {
    line-height: 1.75;
}

.nav-pane ul {
    list-style: none;
    padding-left: 1.2em;
}

.nav-pane li.normal {
    font-weight: bold;
    text-decoration: underline;
}

.nav-pane a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
    color: yellow;
    padding-left: 2em;
}

h1 {
    background-color: #47236B;
}

h2 {
    margin-right: 10%;
    background-color: rebeccapurple;
}

h2 a {
    color: yellow !important;
    text-decoration: none;
}

h3 {
    margin-right: 20%;
    background-color: #845BAD;
}

h4 {
    margin-right: 30%;
    background-color: #9370B7;
}

h5 {
    margin-right: 40%;
    background-color: #A384C1;
}

h6 {
    margin-right: 50%;
    background-color: #b49cce;
    font-size: medium;
}

.content p {
    line-height: 2;
    text-indent: 1em;
}

.content p.example, .content p.example_no_lines {
    margin-left: 10%;
    line-height: 1.5;
}

.content ul, .content ol {
    margin-left: 10%;
}

.content ol {
    list-style: lower-roman;
}

.content table {
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.content table td, .content table th {
    padding: 2px 1em;
}

.content .hierarchy table td {
    border: none;
    height: 1em;
}

.content .hierarchy table th {
}

.content div.wordlist {
    margin-top: 1em;
    margin-left: 5%;
    margin-bottom: 3em;
    padding-top: 0;
    padding-bottom: 1em;
}

.content div.wordlist p.example, .content div.wordlist p.example_no_lines {
    margin-left: 10%;
}

.content div.folding {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content div.columns, .content div.left-columns {
    display: flex;
    flex-flow: row wrap;
}

.content div.columns table th, .content div.columns table td,
.content div.left-columns table th, .content div.left-columns table td {
    border: none;
    padding: 0.5em 0.5em;
}

.content div.left-columns table th, .content div.left-columns table td {
    text-align: left;
}

.content div.columns table th:first-child,
.content div.left-columns table th:first-child {
    text-align: center;
}

.content .paragraph {
    padding-top: 1em;
    font-family: georgia, serif;
}

input#Transliteration:checked ~ .paragraph p:nth-child(1) {
    display: inline;
    margin-left: 0;
}

input#Transliteration:checked ~ .paragraph div.folding {
    display: inline;
}

input#Transliteration:checked ~ .paragraph p:nth-child(1) strong {
    font-weight: normal;
}

input#Transliteration:checked ~ .paragraph p:not(:nth-child(1)) {
    display: none;
}

input#English:checked ~ .paragraph p:last-child {
    display: inline;
    margin-left: 0;
}

input#English:checked ~ .paragraph div.folding {
    display: inline;
}

input#English:checked ~ .paragraph p:not(:last-child) {
    display: none;
}

input#Tinellbian:checked ~ .paragraph {
    direction: rtl;
    unicode-bidi: bidi-override;
}

input#Tinellbian:checked ~ .paragraph p:nth-child(2) {
    display: inline;
    margin-left: 0;
}

input#Tinellbian:checked ~ .paragraph div.folding {
    display: inline;
}

input#Tinellbian:checked ~ .paragraph p:not(:nth-child(2)) {
    display: none;
}

input#All:checked ~ .paragraph {
    border-bottom: 1px solid blue;
    padding: 0;
}

input#All:checked ~ .paragraph p {
    margin-top: 0;
}

input:checked:not(#All) ~ .paragraph input {
    display: none;
}

@media screen and (max-width: 800px) {
    div.content {
        width: 100%;
        margin-left: 0;
    }

    div.content p {
        margin-left: 5%;
        margin-right: 5%;
    }

    div.content .folding p {
        margin-right: 0;
    }

    .content div.wordlist p.example, .content div.wordlist p.example_no_lines {
        margin-left: 5%;
    }

    .content div.wordlist {
        margin-left: 10%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-right: 0;
    }
}
