body {
    font-family: sans-serif;
}

.nav-pane {
    line-height: 1.75;
}

.nav-pane ul {
    list-style: none;
    padding-left: 1.2em;
}

.nav-pane li.normal {
    font-weight: bold;
    text-decoration: underline;
}

.nav-pane a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
    color: yellow !important;
    padding-left: 2em;
    background-color: rebeccapurple;
}

h2 {
    margin-right: 10%;
}

h2 a {
    color: yellow !important;
    text-decoration: none !important;
}

h3 {
    margin-right: 20%;
}

h4 {
    margin-right: 30%;
}

h5 {
    margin-right: 40%;
}

h6 {
    margin-right: 50%;
}

.content p {
    line-height: 2;
    text-indent: 1em;
}

.content p.example, .content p.example_no_lines {
    margin-left: 10%;
    line-height: 1.5;
}

.content table {
    margin-left: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.content table td, .content table th {
    padding: 2px 1em;
}

.content div.wordlist {
    margin-top: 2em;
    margin-left: 5%;
    padding-top: 0;
    padding-bottom: 1em;
}

.content div.wordlist p.example, .content div.wordlist p.example_no_lines {
    margin-left: 10%;
}

.content div.folding {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content div.folding p:last-child {
	margin-left: 5%;
}

.content div.folding p:last-child::before {
	padding-right: 1em;
}

.content div.columns, .content div.left-columns {
    display: flex;
    flex-flow: row wrap;
}

.content div.columns table th, .content div.columns table td,
.content div.left-columns table th, .content div.left-columns table td {
    border: none;
    padding: 0.5em 0.5em;
}

.content div.left-columns table th, .content div.left-columns table td {
    text-align: left;
}

.content div.columns table th:first-child,
.content div.left-columns table th:first-child {
    text-align: center;
}

@media screen and (max-width: 800px) {
    div.content {
        width: 100%;
        margin-left: 0;
    }

    div.content p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .content div.wordlist p.example, .content div.wordlist p.example_no_lines {
        margin-left: 5%;
    }

    .content div.wordlist {
        margin-left: 10%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-right: 0;
    }
}
