.highlight {
    border: 1px solid red;
    padding: 4px 5px;
    border-radius: 15px;
    line-height: 2;
}

.season {
    font-size: large;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
    color: yellow;
    padding-inline-start: 2em;
    margin-block: 3lh 1.5lh;
}

h1 {
    background-color: #47236B;
    margin-block-start: 1lh;
}

h1 a:link,
h1 a:visited {
    color: yellow;
    text-decoration: none;
}

h2 {
    margin-inline-end: 10%;
    background-color: rebeccapurple;
}

h2 a {
    color: yellow !important;
    text-decoration: none;
}

h3 {
    margin-inline-end: 20%;
    background-color: #845BAD;
}

h4 {
    margin-inline-end: 30%;
    background-color: #9370B7;
}

h5 {
    margin-inline-end: 40%;
    background-color: #A384C1;
}

h6 {
    margin-inline-end: 50%;
    background-color: #b49cce;
}


main p {
    padding-inline-start: 3ch;
    margin-block-start: 1lh;
}

main ul,
main ol {
    margin-inline-start: 10%;
}

main ol {
    list-style: lower-roman;
}

main table {
    margin-inline-start: 5%;
    margin-block: 2em;
}

main table td,
main table th {
    padding: 2px 1em;
}

main .columns,
main .left-columns {
    display: flex;
    flex-flow: row wrap;
}

main .columns table {
    margin-inline-end: 5rem;
}

main .columns table th,
main .columns table td,
main .left-columns table th,
main .left-columns table td {
    border: none;
    padding: 0.5em 0.5em;
}

main .left-columns table th,
main .left-columns table td {
    text-align: left;
}

main .gloss {
    font-style: italic;
}

main .columns table th:first-child,
main .left-columns table th:first-child {
    text-align: center;
}

main .hierarchy table td {
    border: none;
    height: 1em;
}

main .interlinear details.folding {
    margin-block-start: 1.7lh;
}

main .interlinear details.folding+p {
    margin-inline-start: 0;
}

main .interlinear .paragraph {
    margin-block-end: 1.7lh;
    font-family: georgia, serif;
}

main .output {
    position: relative;
}

main .lemma .hidden-info {
    display: none;
    color: red;
}

main .lemma:hover {
    text-decoration: underline;
}

main .lemma:hover .hidden-info {
    position: absolute;
    right: calc(75% + 1ch);
    display: inline;
    text-decoration: none;
    background: white;
    word-wrap: none;
    padding: 5px;
    border: 1px solid black;
    width: max-content;
}

@media screen and (max-width: 800px) {
    main .lemma {
        position: relative;
    }

    main .lemma:hover .hidden-info {
        right: unset;
        left: -2ch;
        top: -2lh;
    }
}