:root {
    --default-left: 5%;
    --interlinear-sep: 2rem;
    --indent: 2ch;
}

.highlight {
    border: 1px solid red;
    padding: 4px 5px;
    border-radius: 15px;
    line-height: 2;
}

.season {
    font-size: large;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: serif;
    color: yellow;
    padding-inline-start: 2em;
    margin-block: 3lh 1.5lh;
}

h1 {
    background-color: #47236B;
    margin-block-start: 1lh;
}

h1 a:link,
h1 a:visited {
    color: yellow;
    text-decoration: none;
}

h2 {
    margin-inline-end: 10%;
    background-color: rebeccapurple;
}

h2 a {
    color: yellow !important;
    text-decoration: none;
}

h3 {
    margin-inline-end: 20%;
    background-color: #845BAD;
}

h4 {
    margin-inline-end: 30%;
    background-color: #9370B7;
}

h5 {
    margin-inline-end: 40%;
    background-color: #A384C1;
}

h6 {
    margin-inline-end: 50%;
    background-color: #b49cce;
}


main p {
    padding-inline-start: 3ch;
    margin-block-start: 1lh;
}

main ol.components {
    margin-inline-start: 10%;
    list-style: lower-roman;
}

main table {
    margin-inline-start: 5%;
    margin-block: 2em;
}

main table td,
main table th {
    padding: 2px 1em;
}

main .columns {
    display: flex;
    flex-flow: row wrap;
}

main .columns table {
    margin-inline-end: 5rem;
}

main .columns table th,
main .columns table td {
    border: none;
    padding: 0.5em 0.5em;
}

main .columns table th:first-child {
    text-align: center;
}


main .hierarchy table td {
    border: none;
    height: 1em;
}

main details,
main details + p {
    margin-inline-start: calc(2 * var(--default-left));
    padding-inline-start: 0;
}

main details p {
    padding-inline-start: 0;
}

main .wordlist details {
    --default-left: 0;
}

main .wordlist li + details {
    margin-block-start: var(--wordlist-sep);
}

main details.example {
    margin-block-start: 2.5lh;
}

main details.example p,
main details.example + p,
main details.example summary {
    line-height: 2;
    padding-inline-start: 3rem;
    text-indent: -1rem;
}

main details.example + p {
    margin-block-end: 1.5lh;
}

main table.numbers {
    margin-inline: auto;

    & a {
        text-decoration: none;
    }

    & td {
        border: none;
        padding-inline: 1ch;
    }

    & td:nth-child(3n) {
        padding-inline-end: 2ch;
    }

    & td:nth-child(3n + 4) {
        padding-inline-start: 2ch;
        border-left: 1px solid white;
    }
}

main .interlinear details {
    line-height: 1.8;
    margin-block-start: var(--interlinear-sep);
}

main .interlinear summary {
    padding-inline-start: calc(var(--indent) + 1.5ch);
    text-indent: calc(-1 * var(--indent) - 1.5ch);
}

main .interlinear p {
    line-height: 1.8;
    margin-block-start: 0.5lh;
    padding-inline-start: var(--indent);
    text-indent: calc(-1 * var(--indent));
}

main .interlinear details + p {
    margin-block-start: 0;
}

main .interlinear details[open] + p {
    margin-block-start: 0.5lh;
}

main .interlinear details +p {
    margin-block-end: var(--interlinear-sep);
}

main .interlinear .paragraph {
    font-family: georgia, serif;

}

main .output {
    position: relative;
}

main .lemma .hidden-info {
    display: none;
    color: red;
}

main .lemma:hover {
    text-decoration: underline;
}

main .lemma:hover .hidden-info {
    position: absolute;
    right: calc(75% + 1ch);
    display: inline;
    text-decoration: none;
    background: white;
    word-wrap: none;
    padding: 5px;
    border: 1px solid black;
    width: max-content;
}

@media screen and (max-width: 800px) {
    main .lemma {
        position: relative;
    }

    main .lemma:hover .hidden-info {
        right: unset;
        left: -2ch;
        top: -2lh;
    }
}